html{
    scroll-behavior: smooth;
}
body{
    background-color:black;
}

.img_topo{
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 10%;   
}
figure{
    text-align: center;
}
.container{
    width: 80%;
    margin: auto;
}
h1{
    text-align: center;
    color: #f8f8ff ;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1.8em;
}
.logo{
    padding-top: 1%;
    padding-bottom: 1%;
}
.menu, footer{
    background-color: rgba(255,0,0);
    padding:  2%;
}
.item_menu{
    list-style: 1.5%;
    text-align: center;
    margin: auto;
}
p{
    font-size: 1.4em;
    color:white ;
    text-align: justify;
    text-indent: 40px;
    line-height: 1.5;
    margin-top: 0.2%;
    margin-bottom: 00.2%;
}

.parag_letras > p{
    font-size: 1.4em;
    color: white ;
    text-align: justify;
    text-indent: 40px;
    line-height: 1.5;
    margin-top: 0.2%;
    margin-bottom: 00.2%;
    
  }
  
  .pinta_botao a:link, a:visited  {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .pinta_botao a:hover, a:active {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
  }

  footer p{
      padding: 1.2em;
      text-align: center;
  }
  .img_corpo {
    width: 100%;
    margin-top:  2%; 
  }
  .item_menu a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid rgb(3, 3, 3);
    padding: 2.5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .item_menu a:hover, a:active {
    background-color: rgba(255,0,0);
    color: white;
  }

 
footer a:link{
    color:rgb(255, 7, 222) ;
}
footer a:visited{
    color: rgb(255, 187, 0);
}
footer a:hover{
    color: rgb(0, 255, 191);
}
footer a:active{
    color: forestgreen;
}


.pera a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
.pera a:hover, a:active {
    background-color: rgb(255, 0, 0);
    color: white;
  }

.tanto{
    display: none;
}
.right{
    float: right;
    margin-left: 2%;
    
    
}
.left{
    float: left;
    margin-right: 2%;
}
