body{
    background-color: #00008b;
}

.img_topo{
    width: 100%;
}
figure{
    text-align: center;
}
.container{
    width: 80%;
    margin: auto;
}
h1{
    text-align: center;
    color: #f8f8ff ;
}
p{
    font-size: 2em;
    color: #f8f8ff ;
    text-align:justify ;
    text-indent: 40px;
}